/** UberMenu Custom Menu Styles (Customizer) **/
/* main */
.ubermenu-main .ubermenu-row { 
	max-width:1103px; 
	margin-left:auto; 
	margin-right:auto; 
}
.ubermenu-main.ubermenu-transition-slide .ubermenu-active > .ubermenu-submenu.ubermenu-submenu-type-mega,
.ubermenu-main:not(.ubermenu-transition-slide) .ubermenu-submenu.ubermenu-submenu-type-mega,
.ubermenu .ubermenu-force > .ubermenu-submenu { 
	max-height:200px; 
}
.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target { 
	text-transform:uppercase; 
	color:#cccccc; 
	border-left:1px solid #ffffff; 
}
.ubermenu-main .ubermenu-nav .ubermenu-item.ubermenu-item-level-0 > .ubermenu-target { 
	font-weight:bold; 
}
.ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target, 
.ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-parent > .ubermenu-target, 
.ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-target { 
	color:#ffffff; 
}
.ubermenu-main .ubermenu-submenu .ubermenu-divider > hr { 
	border-top-color:#ffffff; 
}
.ubermenu-main, 
.ubermenu-main .ubermenu-target, 
.ubermenu-main .ubermenu-nav .ubermenu-item-level-0 .ubermenu-target, 
.ubermenu-main div, 
.ubermenu-main p, 
.ubermenu-main input { 
	font-family:'Lato', sans-serif; 
	font-weight:400; 
}