/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.header-wrap {
  width: 990px;
}
.wrap {
  width: 990px;
}

/*********************
CONTENT STYLES
*********************/

#lolo-content {

/*********************
HERO STYLES
*********************/    
  .hero {
    .drdelay-slide {
      .hero-image {
        background-image:url(../img/dr-delay-bg.jpg);  
        height: 488px;
        .hero-overlay {
           overflow:visible;
           width: 990px;
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble,
          .lolo-character  {
  
          }
          .lolo-character  {
            display:none;
          }        
          .lolo-latency-logo {
  
  
          }
          .thought-bubble {
            right:80px;
            bottom:-35px;
            z-index:9;
            .thought-bubble-desktop {
              display:block;
            }
            .thought-bubble-mobile {
              display:none;
            }
          }
          .speech-bubble {
            right:0;
            top:10px;
            z-index:8;
            .speech-bubble-desktop {
              display:block;
            }
            .speech-bubble-mobile {
              display:none;
            }
          }
        }            
      }   
    }
    .lolo-slide {
      .hero-image {
        background-image:url(../img/header-bg.jpg);   
        height:488px;
        .hero-overlay {
           overflow:visible;
           width: 990px;
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble,
          .lolo-character  {
  
          }
          .lolo-character  {
            display:none;
          }        
          .lolo-latency-logo {
  
  
          }
          .thought-bubble {
            right:0;
            bottom:30px;
            z-index:8;
            .thought-bubble-desktop {
              display:block;
            }
            .thought-bubble-mobile {
              display:none;
            }
          }
          .speech-bubble {
            right:237px;
            bottom:-20px;
            z-index:9;
            .speech-bubble-desktop {
              display:block;
            }
            .speech-bubble-mobile {
              display:none;
            }
          }
        }            
      }   
    }  
    .flex-control-nav {
      top:50%;
      li {
            
        a {
     
          &:hover {
 
          }                    
          &.flex-active {
         
          }
        }
      }    
    }       
  }
  #inner-content {

/*********************
MAIN STYLES
*********************/       
    .main {
      padding-right: 1.2em;
      
      .description {
        h3 {

          span {

          }
        }
        ul, ol {

          li {

            span {

            }            
          }
        }  
        ul {
          li {
    
            &:before {

            }
          }
  
        }
  
        ol {

          li {

          }
  
        }        
      }
      .buckets {
        margin-bottom:0;
        .bucket-item {

          img {

          }
          h2 {

          }
          p {

          }
          .red-btn {

          }
          &.bucket-latency-game {
        
            img {

            }
            h2 {
            }
            p {

            }
         
            .game-btn {

              img {

              }
            }
          }
        }
      }
    }
/*********************
SIDEBAR STYLES
*********************/    
    .sidebar {
      clear:none;
      margin-top:0;
      .widget {

        img {

        }
        .claim-free-gift {
      
        }
        .free-gift-arrow {
          position:relative;
          left: auto;
          top: auto;           
          margin-top:-39px;
          margin-left:-6px;
        }
        form {

          h4 {
        
          }
        }
        .form-description {
          
          h4 {
            text-align:center; 
            padding-left:0;
          }
          img {

          }
          p {

           em {

           }
          }
        }
      }
    }
/*********************
PRE-FOOTER (Action LoLo) STYLES
*********************/        
    .action-lolo {

      .action-speech-bubble {

        img {
          
        }
      }
      .action-lolo-character {
        position:absolute;
        top:45px;
        left:300px;
        text-align:left;
        img {
          max-width:initial;
          
        }
      }
      .action-crowd-bubble {

      }
    }
  }
}
/*********************
FOOTER STYLES
*********************/  
.fusion-footer-widget-area {
  .ibm-footer-logo {
    margin-left:-30px;
  } 
}