/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
.header-wrap {
  width: 1100px;
}
.wrap {
  width: 1105px;
}

/*********************
CONTENT STYLES
*********************/

#lolo-content {

/*********************
HERO STYLES
*********************/    
  .hero {
    .drdelay-slide {
      .hero-image {
      
        .hero-overlay {
          width:1105px;
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble  {
  
          }
          .lolo-latency-logo {
            display:block;
            right:280px;
            top:240px;
            z-index:10;          
  
          }
          .thought-bubble {
            right:0;
            bottom:15px;
  
          }
          .speech-bubble {
            right:178px;
            top:46px;
  
          }
        }      
      }
    }
    .lolo-slide{
      .hero-image {
      
        .hero-overlay {
          width:1105px;
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble  {
  
          }
          .lolo-latency-logo {
            display:block;
            right:280px;
            top:35px;
            z-index:10;          
  
          }
          .thought-bubble {
  
  
          }
          .speech-bubble {
  
  
          }
        }      
      }      
    }
    .flex-control-nav {

      li {
            
        a {
     
          &:hover {
 
          }                    
          &.flex-active {
         
          }
        }
      }    
    }   
  }
  #inner-content {

/*********************
MAIN STYLES
*********************/       
    .main {

      
      .description {
        h3 {

          span {

          }
        }
        ul, ol {

          li {

            span {

            }            
          }
        }  
        ul {
          li {
    
            &:before {

            }
          }
  
        }
  
        ol {

          li {

          }
  
        }        
      }
      .buckets {

        .bucket-item {
          width:359px;
          height:244px;
          margin-right:20px;
          img {

          }
          h2 {

          }
          p {

          }
          .red-btn {

          }
          &.bucket-latency-game {
            margin-right:0;
            img {

            }
            h2 {
            }
            p {

            }
         
            .game-btn {

              img {

              }
            }
          }
        }
      }
    }
/*********************
SIDEBAR STYLES
*********************/    
    .sidebar {
      .widget {
        height:627px;
        padding-bottom:0;
        img {

        }
        .claim-free-gift {
      
        }
        .free-gift-arrow {

        }
        form {

          h4 {
        
          }
        }
        .form-description {

          h4 {
        
          }
          img {

          }
          p {

           em {

           }
          }
        }
      }
    }
/*********************
PRE-FOOTER (Action LoLo) STYLES
*********************/        
    .action-lolo {

      .action-speech-bubble {

        img {
          
        }
      }
      .action-lolo-character {

      }
      .action-crowd-bubble {

      }
    }
  }
}