/******************************************************************
Site Name: 
Author: 

Stylesheet: Super DUPER Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*********************
CONTENT STYLES
*********************/

#lolo-content {

/*********************
HERO STYLES
*********************/    
  .hero {
    .drdelay-slide {
      .hero-image {
      
        .hero-overlay {
  
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble  {
  
          }
          .lolo-latency-logo {
            right:415px;
  
          }
          .thought-bubble {
            right:22px;
          }
          .speech-bubble {
            right:220px;
  
          }
        }      
      }
    }
    .lolo-slide{
      .hero-image {
      
        .hero-overlay {
  
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble  {
  
          }
          .lolo-latency-logo {
            right:370px;
  
          }
          .thought-bubble {
            right:20px;
          }
          .speech-bubble {
            right:257px;
  
          }
        }      
      }      
    }
  }
  #inner-content {

/*********************
MAIN STYLES
*********************/       
    .main {

      
      .description {
        h3 {

          span {

          }
        }
        ul, ol {

          li {

            span {

            }            
          }
        }  
        ul {
          li {
    
            &:before {

            }
          }
  
        }
  
        ol {

          li {

          }
  
        }        
      }
      .buckets {

        .bucket-item {

          img {

          }
          h2 {

          }
          p {

          }
          .red-btn {

          }
          &.bucket-latency-game {
        
            img {

            }
            h2 {
            }
            p {

            }
         
            .game-btn {

              img {

              }
            }
          }
        }
      }
    }
/*********************
SIDEBAR STYLES
*********************/    
    .sidebar {
      .widget {

        img {

        }
        .claim-free-gift {
      
        }
        .free-gift-arrow {

        }
        form {

          h4 {
        
          }
        }
        .form-description {

          h4 {
        
          }
          img {

          }
          p {

           em {

           }
          }
        }
      }
    }
/*********************
PRE-FOOTER (Action LoLo) STYLES
*********************/        
    .action-lolo {

      .action-speech-bubble {

        img {
          
        }
      }
      .action-lolo-character {

      }
      .action-crowd-bubble {

      }
    }
  }
}