/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/

/*********************
CONTENT STYLES
*********************/

#lolo-content {

/*********************
HERO STYLES
*********************/    
  .hero {
    .drdelay-slide {
      .hero-image {
        height:552px;
        .hero-overlay {
  
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble,  
          .lolo-character  {
  
          }
          .lolo-character  {
   
            img {
              width:initial;
            }
          }          
          .lolo-latency-logo {
          
  
          }
          .thought-bubble {
            right:0;
            bottom:20px;
            text-align:right;
  
            .thought-bubble-desktop {
  
            }
            .thought-bubble-mobile {
              width:80%;
              display:block;
            }          
          }
          .speech-bubble {
            text-align:left;
            right:0;
            top:150px;
  
            .speech-bubble-desktop {
  
            }
            .speech-bubble-mobile {
              width:90%;
              display:block;
            }            
          }
        }      
      }      
    }
    .lolo-slide {    
      .hero-image {
        height:552px;
        .hero-overlay {
  
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble,  
          .lolo-character  {
  
          }
          .lolo-character  {
   
            img {
              width:initial;
            }
          }          
          .lolo-latency-logo {
          
  
          }
          .thought-bubble {
            right:0;
            bottom:178px;
            text-align:right;
  
            .thought-bubble-desktop {
  
            }
            .thought-bubble-mobile {
              width:80%;
              display:block;
            }          
          }
          .speech-bubble {
            text-align:left;
            bottom:24px;
            right:15px;
  
            .speech-bubble-desktop {
  
            }
            .speech-bubble-mobile {
              width:initial;
              display:block;
            }            
          }
        }      
      }
    }
    .flex-control-nav {
      right:25px;
      top:510px;
      li {  
        a {
     
          &:hover {
 
          }                    
          &.flex-active {
         
          }
        }
      }    
    }      
  }
  #inner-content {

/*********************
MAIN STYLES
*********************/       
    .main {

      
      .description {
        h3 {

          span {

          }
        }
        ul, ol {

          li {

            span {

            }            
          }
        }  
        ul {
          li {
    
            &:before {

            }
          }
  
        }
  
        ol {

          li {

          }
  
        }        
      }
      .buckets {

        .bucket-item {
          background-position:0 0;

               
          img {

          }
          h2 {

          }
          p {

          }
          .red-btn {
            margin-top:20px;
          }
          &.bucket-latency-game {
        
            img {

            }
            h2 {
            }
            p {

            }
         
            .game-btn {

              img {

              }
            }
          }
        }
      }
    }
/*********************
SIDEBAR STYLES
*********************/    
    .sidebar {
      .widget {

        img {

        }
        .claim-free-gift {
      
        }
        .free-gift-arrow {
          display:block;
          position: absolute;
          left: 0;
          top: 35%;    
        }
        form {

          h4 {
        
          }
        }
        .form-description {

          h4 {
            padding-left:111px;
            text-align:left; 
          }
          img {

          }
          p {

           em {

           }
          }
        }
      }
    }
/*********************
PRE-FOOTER (Action LoLo) STYLES
*********************/        
    .action-lolo {

      .action-speech-bubble {

        img {
          
        }
      }
      .action-lolo-character {

      }
      .action-crowd-bubble {

      }
    }
  }
}
