/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/
.header-wrap {
  width: 760px;
}
.wrap {
	width: 760px;
}

/*********************
CONTENT STYLES
*********************/

#lolo-content {

/*********************
HERO STYLES
*********************/    
  .hero {
    .drdelay-slide {    
      .hero-image {
      
        .hero-overlay {
          width:100%;
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble,  
          .lolo-character  {
  
          }
          .lolo-character  {
  
          }          
          .lolo-latency-logo {
          
  
          }
          .thought-bubble {
            bottom:20px;
            text-align:left;
            right:200px;
            .thought-bubble-desktop {
  
            }
            .thought-bubble-mobile {
              width:initial;
            }          
          }
          .speech-bubble {
            right:157px;
            top:100px;
  
            .speech-bubble-desktop {
  
            }
            .speech-bubble-mobile {
              width:initial;
            }            
          }
        }      
      }
    }
    .lolo-slide { 
      .hero-image {
      
        .hero-overlay {
          width:100%;
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble,  
          .lolo-character  {
  
          }
          .lolo-character  {
  
          }          
          .lolo-latency-logo {
          
  
          }
          .thought-bubble {
            bottom:60px;
            text-align:left;
  
            .thought-bubble-desktop {
  
            }
            .thought-bubble-mobile {
              width:initial;
            }          
          }
          .speech-bubble {
            right:257px;
            bottom:24px;
  
            .speech-bubble-desktop {
  
            }
            .speech-bubble-mobile {
              width:initial;
            }            
          }
        }      
      }
    }   
    .flex-direction-nav {
      display:block;
    }  
    .flex-control-nav {
      right:35px;
      top:46%;
      li {
        margin: 0 3px;      
        a {
     
          &:hover {
 
          }                    
          &.flex-active {
         
          }
        }
      }    
    }         
  }
  
  #inner-content {

/*********************
MAIN STYLES
*********************/       
    .main {    
      .description {
        h3 {

          span {

          }
        }
        ul, ol {

          li {

            span {

            }            
          }
        }  
        ul {
          li {
    
            &:before {

            }
          }
  
        }
  
        ol {

          li {

          }
  
        }        
      }
      .buckets {

        .bucket-item {
          width:48%;
          height:244px;
          padding-left:20px;
          padding-right:20px;          
          margin-right:4%;
          margin-bottom:0;
          float:left; 
          img {

          }
          h2 {

          }
          p {

          }
          .red-btn {
            margin-bottom:0;
          }
          &.bucket-latency-game {
            margin-right:0;
            img {

            }
            h2 {
            }
            p {

            }
         
            .game-btn {

              img {

              }
            }
          }
        }
      }
    }
/*********************
SIDEBAR STYLES
*********************/    
    .sidebar {
      
      .widget {

        img {

        }
        .claim-free-gift {
      
        }
        .free-gift-arrow {

        }
        form {
          margin-top:-29px;
          h4 {
        
          }
        }
        .form-description {

          h4 {
        
          }
          img {

          }
          p {

           em {

           }
          }
        }
      }
    }
/*********************
PRE-FOOTER (Action LoLo) STYLES
*********************/        
    .action-lolo {

      .action-speech-bubble {
        margin-left:-15px;
        img {
          
        }
      }
      .action-lolo-character {

      }
      .action-crowd-bubble {

      }
    }
  }
}