/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $ptsans;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  -webkit-font-smoothing: antialiased;
}


/*********************
LAYOUT & GRID STYLES
*********************/

.header-wrap,
.wrap {
  width: 96%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: normal;
	text-transform:uppercase;
	margin-bottom: 0.375em;
	font-family: $strip-ital;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 25px;
	line-height: 32px;
}

h2, .h2 {
	font-size: 24px;
	line-height: 31px;
}

h3, .h3 {
	font-size: 23px;
	line-height:30px;
	
}

h4, .h4 {
	font-size: 22px;
	line-height:28px;
}

h5, .h5 {
	font-size: 21px;
	line-height: 27px;
}

/*********************
CONTENT STYLES
*********************/

#lolo-content {
 background:url(../img/content-bottom-bg.png) left bottom repeat-x;
 position: relative;
 z-index:6;
 margin-bottom:-12px;
/*********************
HERO STYLES
*********************/    
  .hero {
    .drdelay-slide {
      .hero-image {
        background-image:url(../img/dr-delay-mobile-hero-bg.jpg);   
        background-position:0 0;
        background-repeat: no-repeat;
        background-size:cover;
        height:358px;
        width:100%;
        display:block;      
        .hero-overlay {
          position:relative;
          width:100%;
          height:100%;
          display:block;
          overflow:hidden;  
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;            
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble,
          .lolo-character  {
            position:absolute; 
            img {
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;             
            }            
          }
          .lolo-character  {
            bottom:0;
            left:0;
            z-index:10;  
            img {
              width:63%;
            }
          }         
          .lolo-latency-logo {
            display:none;
          }
          .thought-bubble {
            right:30px;
            bottom:15px;
            z-index:7;
            text-align:right;
            .thought-bubble-desktop {
              display:none;
            }
            .thought-bubble-mobile {
              width:63%;
              height:auto;
              display:inline-block;
            }
          }
          .speech-bubble {
            right:0;
            text-align:right;
            top:90px;
            z-index:9;
            .speech-bubble-desktop {
              display:none;
            }
            .speech-bubble-mobile {
              width:55%;
              height:auto; 
              display:inline-block;
            }         
          }
        }      
      }
      .hero-content {
        background:
          url(../img/dotted-bg-left.png) left center no-repeat,
          url(../img/dotted-bg-right.png) right center no-repeat,
          $light-gray;
        .hero-content-inner {
          padding-top:39px;
          padding-bottom:33px;
          h2 {
            margin-top:0;
            margin-bottom:0;         
            font-family:$strip-reg;
            line-height: 1;
            font-size:36px;
            .hero-italic {
              font-family:$strip-bold;
              span {
                font-size:22px;
              }
            }
          }
        }
      }            
    }
    .lolo-slide {
      .hero-image {
        background-image:url(../img/mobile-hero-bg.jpg);   
        background-position:0 0;
        background-repeat: no-repeat;
        background-size:cover;
        height:358px;
        width:100%;
        display:block;      
        .hero-overlay {
          position:relative;
          width:100%;
          height:100%;
          display:block;
          overflow:hidden;
          .lolo-latency-logo,
          .thought-bubble,
          .speech-bubble,
          .lolo-character  {
            position:absolute;
            
          }
          .lolo-character  {
            bottom:0;
            left:0;
            z-index:8;  
            img {
              width:63%;
            }
          }         
          .lolo-latency-logo {
            display:none;
          }
          .thought-bubble {
            right:28px;
            bottom:97px;
            z-index:7;
            text-align:right;
            .thought-bubble-desktop {
              display:none;
            }
            .thought-bubble-mobile {
              width:63%;
              height:auto;
              display:inline-block;
            }
          }
          .speech-bubble {
            right:7px;
            text-align:right;
            bottom:6px;
            z-index:9;
            .speech-bubble-desktop {
              display:none;
            }
            .speech-bubble-mobile {
              width:65%;
              height:auto; 
              display:inline-block;
            }         
          }
        }      
      }
      .hero-content {
        background:
          url(../img/dotted-bg-left.png) left center no-repeat,
          url(../img/dotted-bg-right.png) right center no-repeat,
          $light-gray;
        .hero-content-inner {
          padding-top:42px;
          padding-bottom:37px;
          h2 {
            margin-top:0;
            margin-bottom:0;         
            font-family:$strip-reg;
            font-size:28px;
            .hero-italic {
              font-family:$strip-bold;
              span {
                font-size:22px;
              }
            }
          }
        }
      }
    }
    .flex-direction-nav {
      display:none;
      a {
        background-repeat:no-repeat;
        background-position:60px 43px;
        background-color:rgba(238,234,222,0.2);  
        p {
          margin-top:135px;
          font-family:$strip-bold;
          font-size: 23px;
          font-weight: bold;
          font-style: italic;
          color:$white;
          line-height: 1.043;
          text-align: center;
          margin-left: 18px;
          text-shadow: 2px 3.464px 1px rgb( 0, 0, 0 );               
        }
        &.flex-next {
           border-radius: 260px 0 0 260px;
           -moz-border-radius: 260px 0 0 260px;
           -webkit-border-radius: 260px 0 0 260px;                
        }
        &.flex-prev {
           border-radius: 0 260px 260px 0;
           -moz-border-radius: 0 260px 260px 0;
           -webkit-border-radius: 0 260px 260px 0;   
           background-position:25px 43px;  
          p {
            margin-left: 0;              
          }                
        }        
      }
    } 
    &:hover {
      .flex-next {
        opacity:1.0;
        right: 0;      
      }
      .flex-prev {
        left: 0; 
        opacity:1.0;     
      }      
    }
    .flex-control-nav {
      right:25px;
      top:320px;
      width:auto; 
      z-index:100;
      li {
        height:12px;
        line-height:12px; 
        margin: 0 6px;              
        a {
          width: 12px;
          height: 12px;
          text-align: center;
          display: inline-block;
          vertical-align:middle;
          background:transparent;
          border:3px solid #fff;       
          &:hover {
            background: #fff;       
          }                    
          &.flex-active {
            border:none;
            background:#fff;                     
            width: 12px;
            height: 12px;            
          }
        }
      }    
    }
  }
  #inner-content {
    padding-top:57px;
/*********************
MAIN STYLES
*********************/       
    .main {
      padding-right: 0;
      margin-top:-10px;
      .description {
        h3 {
          margin-top:0;
          margin-bottom:15px;
          font-family:$strip-reg;
          .description-bold {
            font-family:$strip-bold;
            span {
              font-size:20px;
            }
          }
        }
        ul, ol {
          margin-left:0;
          margin-bottom:0;
          li {
            font-size:14px;
            position:relative;          
            padding-bottom:7px;
            padding-left:24px;
            line-height:19px;
            span {
               font-weight:bold;
               text-transform:uppercase;
               font-size:14px;
               em {
                 text-transform:initial;
               }
            }            
          }
        }  
        ul {
          li {
            list-style-type:none;       
            padding-top:2px;        
            &:before {
              content: '';
              position: absolute;
              display: inline-block;
              margin-left: -24px;
              top: 6px;
              background: url(../img/list-bullet.png) 0 0 no-repeat;
              width: 15px;
              height: 12px;
            }
          }
  
        }
  
        ol {
          margin-left:13px;
          li {
            padding-left:10px;
            list-style-type:decimal;
          }
  
        }  
        p {
          margin-top:5px;
          font-size:14px;
        }     
      }
      .buckets {
        margin-top:73px;
        margin-bottom:80px;
        clear:both;
        .bucket-item {
          background:url(../img/bucket-bg.png) 0 0 no-repeat;
          background-position:center center;
          background-size:100% 100%;
          width:100%;
          height:auto;
          float:none;
          text-align:center;
          padding-left:15px;
          padding-right:15px;
          margin:0 auto;   
          margin-bottom:80px;  
          img {
            margin-top:-60px;
          }
          h2 {
            font-family:$ptsans;
            text-transform:initial;
            font-weight:bold;
            color:#000;
            margin-bottom:5px;
            margin-top:10px;
          }
          p {
            font-size:21px;
            margin-top:0;
            margin-bottom:0;
            line-height:25px;
          }
          .red-btn {
            margin-top:45px;
            margin-bottom:15px;
          }
          &.bucket-latency-game {
            padding-left:15px;
            padding-right:15px;  
            margin-right:0;          
            img {

            }
            h2 {
              font-family:$strip-bold;
              text-transform:uppercase;
              color:#000;
              text-shadow: -2px -2px 0px rgba(255, 255, 255, 1);
              margin-bottom:0;
              margin-top:10px;
              font-size:26px;
              line-height:28px;
            }
            p {
              font-family:$strip-reg;
              text-shadow: -2px -2px 0px rgba(255, 255, 255, 1);
              font-size:23px;
              text-transform:uppercase;
              margin-top:0;
              margin-bottom:0;
              line-height:23px;
            }
         
            .game-btn {
              margin-bottom:-28px;
              img {
                margin-top:0;
              }
            }
          }
        }
      }
    }
/*********************
SIDEBAR STYLES
*********************/    
    .sidebar {
      margin-top:20px;
      clear:both;
      .widget {
        background:url(../img/sidebar-bg.png) center center no-repeat;
        height: auto;
        padding-bottom:10px;
        background-size: 100% 100%;
        img {
           max-width:none;
        }
        .claim-free-gift {
          margin-left:-31px;
          margin-top:-69px;         
        }
        .free-gift-arrow {
          display:none;  
        }
        .thankyou {
          text-align:center;
          font-size:18px;
          font-weight:bold;
          margin-top:30px;
          margin-bottom:110px;
        }
        form {
          text-align:center;
          margin-top:0;
          margin-bottom:40px;
          padding-left:34px;
          padding-right:34px;
          h4 {
            font-family:$strip-reg;
            font-size:21px;           
          }
        }
        .form-description {
          padding-left:22px;
          padding-right:22px;
          overflow:hidden;
          h4 {
            font-family:$strip-reg;
            font-size:20px;   
            text-align:center;  
            margin-bottom:4px;          
          }
          img {
            float:left;
            margin-right:11px;
          }
          p {
           overflow:hidden; 
           margin-top:0;
           font-size:17px;
           line-height:19px;
           em {
             font-size:14px;
           }
          }
        }
      }
    }
/*********************
PRE-FOOTER (Action LoLo) STYLES
*********************/        
    .action-lolo {
      padding-top:50px;
      padding-bottom:50px;
      position:relative;
      z-index:10;
      clear:both;
      .action-speech-bubble {
        margin-left:0;
        margin-top:16px;
        float:left;
        z-index:11;
        img {
          
        }
      }
      .action-lolo-character {
        position:relative;
        margin:0 auto;
        z-index:13;
        text-align:right;
        img {
          max-width:90%;
        }
      }
      .action-crowd-bubble {
        float:right;
        margin-right:10px;
        z-index:12;
      }
    }
  }
}
/*********************
FOOTER STYLES
*********************/ 
.fusion-footer-widget-area {
  padding-top:30px;
  padding-bottom:36px;
  .ibm-footer-logo {

  } 
} 
  
