/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
// Digital Strip BB Bold Italic
@font-face {
      font-family: 'Conv_DigitalStripBB_BoldItal';
      src: url('../fonts/DigitalStripBB_BoldItal.eot');
      src: url('../fonts/DigitalStripBB_BoldItal.eot?#iefix') format('embedded-opentype'),
            url('../fonts/DigitalStripBB_BoldItal.woff') format('woff'),
            url('../fonts/DigitalStripBB_BoldItal.ttf') format('truetype'),
            url('../fonts/DigitalStripBB_BoldItal.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
// Digital Strip BB Italic
@font-face {
      font-family: 'Conv_DigitalStripBB_Ital';
      src: url('../fonts/DigitalStripBB_Ital.eot');
      src: url('../fonts/DigitalStripBB_Ital.eot?#iefix') format('embedded-opentype'),
           url('../fonts/DigitalStripBB_Ital.woff') format('woff'),
           url('../fonts/DigitalStripBB_Ital.ttf') format('truetype'),
           url('../fonts/DigitalStripBB_Ital.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
// Digital Strip BB Bold Italic
@font-face {
      font-family: 'Conv_DigitalStripBB_Reg';
      src: url('../fonts/DigitalStripBB_Reg.eot');
      src: url('../fonts/DigitalStripBB_Reg.eot?#iefix') format('embedded-opentype'),
           url('../fonts/DigitalStripBB_Reg.woff') format('woff'),
           url('../fonts/DigitalStripBB_Reg.ttf') format('truetype'),
           url('../fonts/DigitalStripBB_Reg.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }


/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so marrow would look sweet.
 don't forget to remove it for your site.
*/
$ptsans:              'PT Sans', $sans-serif;
$strip-bold:          'Conv_DigitalStripBB_BoldItal', Sans-Serif;
$strip-ital:          'Conv_DigitalStripBB_Ital', Sans-Serif;
$strip-reg:           'Conv_DigitalStripBB_Reg', Sans-Serif;