/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family:$strip-bold;
  text-decoration: none;
  color: $white;
  font-size: 24px;
  line-height: 58px; 
  width:225px;
  height:58px;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  text-transform:uppercase;
  text-shadow: -2px -2px 0px rgba(0, 0, 0, 1);
  text-align:center;
  @include transition(background-color 0.14s ease-in-out);
  &:visited {
    color:$white;
  }
  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  } // end hover
  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.red-btn {
  @extend %btn; // here we load the btn defaults
  background:url(../img/btn-bg.png) 0 0 no-repeat;
  &:visited {
    color:$white;
  }  
  &:hover,
  &:focus {
    color: $blue;
    &:visited {
      color:$blue;
    }  
  } // end hover

  &:active {

  } // end active

} // end red button
